body {
  margin: 0;
  background: #f8f5f1;
  color: #3b3b3b;
  font-family: "Georgia", serif;
}

.jawa {
  font-style: italic;
  color: #8b6b4f;
}

.opening {
  position: fixed;
  inset: 0;
  background: linear-gradient(#7a5c3e, #c1a57b);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.opening button {
  margin-top: 20px;
  padding: 10px 25px;
  border-radius: 30px;
  border: none;
  background: white;
  color: #7a5c3e;
  font-weight: bold;
}

.container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.hidden {
  display: none;
}

.section {
  background: #f8f5f1;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.05);
}

.countdown {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.countdown div {
  background: #7a5c3e;
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: 70px;
}

.countdown span {
  font-size: 20px;
  display: block;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.gallery img {
  width: 100%;
  border-radius: 10px;
}

iframe {
  width: 100%;
  height: 200px;
  border-radius: 12px;
  border: none;
}

.animate {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 1s forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.music-btn {
  position: fixed;
  top: 15px;
  right: 15px;
  border-radius: 50%;
  padding: 10px;
}

.foto-cowo {
  margin-top: 50px;
  width: 250px;
  height: auto;
}
